@media screen and (max-width:1200px) {
    #desktop-image{
        display: none;
    }
    main#index{
        display: grid;
        grid-template-rows: auto auto auto;
        width: 100%;
    }
    #mainpic{
        display: block;
        margin: auto;
        border: none;
        height: 300px;
        width: 300px;
        border-radius: 300px;
        background-color: rgb(230, 184, 56);
    }  
    footer{
        text-align: center;
    }
    p{
        text-align: center;
    }
    #mainname{
        font-size: 60px;
    }
}
@media screen and (min-width:1200px) { 
    #mobile-image{
        display: none;
    }
    #desktop-image{
        justify-self: center;
        align-self: center;
    }
    main#index{
        display: grid;
        grid-template-columns: 33% 34% 33%;
        height: calc(100% - 125px);
    }
    #mainpic{
        display: block;
        margin: auto;
        border: none;
        height: 450px;
        width: 450px;
        border-radius: 450px;
        background-color: rgb(230, 184, 56);
    }
    #mainname{
        font-size: 80px;
    }
}
#left{
    justify-self: center;
    align-self: center;
    font-size: 23px;
}
#right{
    justify-self: center;
    align-self: center;
    font-style: italic;
    font-size: 37px;
}

#footer{
    justify-self: center;
}
footer a img{
    width: 40px;
    height: 40px;
    margin: 5px;
}