@media screen and (max-width:1200px) {
    #about_paragraph{
        font-size: 28px;
        padding: 0 15px 0 15px;
    }
    h2{
        font-size: 38px;
    }
    
}

@media screen and (min-width:1200px) {
    #about_paragraph{
        font-size: 35px;
        width: 60%;
    }
    h2{
        font-size: 45px;
    }
    
}
#about_paragraph a{
    color: darkslateblue;
    text-decoration: none;
}
#about_div{
    height: calc(100% - 71px);
    grid-template-rows: 50px auto;
    display: grid;
    align-items: center;
    justify-items: center;
}
